h4 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: white;
  position: relative;
  top: -70%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.background-filter {
  width: 100%;
  height: 836px !important;
  background-color: rgba(58, 175, 169, 0.8);
  display: flex;
  flex-direction: column;
  position: relative;
}

.btn-search {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(159, 90, 253);
  display: flex;
  margin-top: -44px;
  margin-right: 8px;
  border: none;
}

.btn-search:hover {
  cursor: pointer;
}

.hero-container {
  background-image: url("neighbourhood.jpg");
  background-size: cover;
  background-position: 0px -50px;
  background-color: rgba(58, 175, 169, 0.8);
  height: 950px;
  width: 100%;
  position: relative;
}

.search-bar {
  padding-right: 5px;
  padding-left: 6px;
}

.search-field {
  border-radius: 30px !important;
}

.search-engine {
  margin-top: -60%;
}

.search-icon {
  font-size: 16px;
  margin-top: 12px;
  margin-left: 12px;
  cursor: pointer !important;
}
