form {
  padding: 5% 20%;
}

.container-contact-info {
  padding-bottom: 5%;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding-top: 4%;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 20px;
  color: #2b7a78;
}

.field-title {
  font-weight: 500;
}

.tag-category {
  text-transform: uppercase;
  color: rgb(165, 165, 165);
  font-size: 13px;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

.btn-createlisting {
  margin-top: 5% !important;
  display: block;
  margin: 0 auto;
  line-height: 2.5;
}

.row-tags {
  padding-top: 20px;
}
