.container-main {
  background-color: white !important;
  padding: 70px 10%;
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 1rem;
}

.container-top-left {
  padding: 2rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4vw;
  font-size: 60px;
  font-weight: 700;
  padding-top: 10%;
  padding-bottom: 4%;
  margin-right: 30px !important;
  overflow-wrap: break-word;
  color: rgb(23, 37, 42);
}

.hero-img {
  margin-left: 5%;
}

@media screen and (max-width: 768px) {
  .container-main {
    padding: 40px 5%;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 992px) {
  .container-main {
    padding: 40px 5%;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 50px;
  }

  .hero-img {
    margin: 0;
  }
}
