header {
  background-color: rgb(23, 37, 42);
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 3% 8%;
}

li,
a,
button {
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.navbar {
  padding-bottom: 0;
  margin-top: 24px;
}

.btn-contact {
  background-color: #3aafa9;
  padding: 10px 11px;
  border-radius: 6px;
  border: none;
}

.btn-contact:hover {
  background-color: rgb(159, 90, 253);
}

.logo {
  padding: 13px 10px;
  cursor: pointer;
}

.nav-item {
  display: inline-block;
  list-style: none;
}

.nav-item li {
  display: inline-block;
  padding: 0 20px;
}

.nav-link:hover {
  color: rgb(159, 90, 253);
}
